<div style="height: 405px">
    <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="slide in slides" index="slide.id">
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{slide.title}}</h4>
          <p>{{slide.text}}</p>
        </div>
      </div>
    </div>
</div>

  <div class="principal">
    <h2>Bienvenido a vida sana</h2>
  </div>
  <div class="row-fluid">
    <div class="col-md-4" ng-repeat="contenido in contenidos">
      <img class="img-circle" ng-src="{{contenido.img}}">
      <h3>{{contenido.title}}</h3>
      <p>{{contenido.summary}}</p>
    </div>
  </div>
